body
	background: $white
	// +css-lock(14, 50, 600, 1000)
	height: 100%
	font-size: $text-reg //16px
	+font-family($proxima-reg)
	font-weight: normal
	font-style: normal
	min-width: 970px
	margin: 0 auto

// Typography
h1, h2, h3, h4, h5, h6, p, strong, em
	font-weight: normal
	font-style: normal

// Title
.title-lg
	font-size: 48px
	// +font-family($proxima-light)

.title-xl
	font-size: $text-lead //30px
	line-height: 1
	color: $black
	+font-family($proxima-reg)

// post
.posts
	text-align: left
	font-size: $text-sm //14px
	+clr
	display: inline-block
	vertical-align: top
	width: 100%
	padding-top: 15px
	&__title
		color: $blue-gray
		display: inline-block
		margin-bottom: 15px
		+text-overflow
		max-width: 75%
	&__link
		float: right
		text-decoration: none
		color: $blue-darker
		transition: color .24s ease-in-out
		&:hover
			text-decoration: underline
			color: darken($blue-darker, 20)
	.post
		font-size: 0
		+clr
		margin-bottom: 20px
		> .post__name
			margin-bottom: 5px
		&__desc
			display: table-cell
			line-height: 1.33
			max-width: 125px
			&-link
				font-size: $text-xs
				color: $blue-darker
				text-decoration: none
				display: inline-block
		&__img
			width: 80px
			height: 80px
			display: inline-block
			vertical-align: top
			border-radius: 3px
			float: left
			+cover
			margin-right: 10px
		&__name
			color: $blue-darker
			display: block
			font-size: $text-reg //16px
		&__text
			color: $blue-gray
			font-size: $text-sm //14px
			display: block
			text-decoration: none
			&:hover
				text-decoration: underline


