// Main
.main
	text-align: center
	.content
		+clr
		padding: 0 15px
		width: auto
		margin: 0 215px


// Sidebar
.sidebar
	width: 100%
	max-width: 215px
	display: inline-block
	vertical-align: top
	&.sidebar_left
		float: left
		.posts
			border-top: 1px solid $separator
			border-bottom: 1px solid $separator
		.banner
			margin-bottom: 20px
	&.sidebar_right
		float: right
		.posts
			border-bottom: 1px solid $separator
		.banner__img
			border: 1px solid $separator

.features
	padding-top: 10px
	margin-bottom: 20px
	text-align: left
	&__btn
		float: right
	&__title
		color: $blue-darker
		display: inline-block
		vertical-align: top
		+text-overflow
		max-width: 65%

// banner
.banner
	text-decoration: none
	text-align: left
	line-height: 1
	display: block
	margin: 0 auto
	max-width: 210px
	width: 100%
	font-size: 0
	&__img
		display: block
		+cover
		height: 300px
		width: 100%
	&__title
		font-size: $text-sm //14px
		margin: 20px auto 17px
		color: $blue-gray
		display: inline-block
		vertical-align: top
	&__caption
		font-size: $text-exs //11px
		color: $gray-lighter
		margin-top: 8px
		line-height: 1
		display: block
		a
			color: inherit
			text-decoration: none
			transition: color .24s ease-in-out
		a:hover
			text-decoration: underline
			color: $green-darker




body.preview-wrapper
	.inner
		max-width: 1280px
	.header
		padding-top: 40px
		border: none
		background-image: url('../img/bg-preview.jpg')
		background-repeat: no-repeat
		background-size: cover
		&__overlay
			position: relative
			&:before
				position: absolute
				content: ''
				top: 0
				left: 0
				width: 100%
				height: 100%
				display: block
				z-index: 0
				background-color: rgba(#1c2534, 0.9)
		&__in
			+clr
			max-width: 1380px
			padding: 0 20px
			position: relative
			z-index: 5
		&__nav
			display: inline-block
			width: 100%
			+clr
			vertical-align: top
			.logo
				float: left
			.btn_login
				float: right
				margin-top: 5px
		&__desc
			padding: 100px 0 195px
			text-align: center
			max-width: 490px
			margin: 0 auto
			+font-family($proxima-light)
			.title-lg
				color: $white-light
			p
				font-size: 20px
				color: $white-light
				line-height: 1.2
				margin-top: 15px
	.register
		background-image: url('../img/bg-content.jpg')
		+cover
	.about
		padding-top: 99px
		border-top: 1px solid $separator
		border-bottom: 1px solid $separator
		padding-bottom: 112px
		&__title
			font-size: $text-lead //30px
			color: $blue-darker
			+font-family($proxima-light)
			margin-bottom: 50px
		.grid__item
			max-width: 600px
			text-align: left
	.footer
		padding: 34px 0 30px 0
		background-color: $white
		margin-top: 0
		.copyright
			display: inline-block
			vertical-align: top
		&__list
			font-size: 0
			float: right
			li
				display: inline-block
				vertical-align: top
				&:not(:last-child)
					margin-right: 20px
			li a
				font-size: $text-xs //12px
				color: #b7bfcd
				transition: color .24s ease-in-out
				text-decoration: none
				&:hover
					text-decoration: underline
					color: darken(#b7bfcd, 10)