---
title: template
bodyClasses: preview-wrapper
---
{% extends "layouts/_layout.html" %}
{% block vendorCSS%}
<link rel="stylesheet" href="lib/select2.min.css">
{% endblock %}
{% block content %}

<header class="header header__overlay">
	<div class="inner header__in">
		<div class="header__nav">
			<a href="#" class="logo"></a>

			<a href="#" class="btn btn_green btn_rounded btn_login">Log In Now</a>
		</div>
		<!-- END .header_nav -->


		<div class="header__desc">
			<h2 class="title-lg">Home of Dentistry</h2>
			<p>Denteez was created by dentists for dentistry in order to make the life of everyone involved in dentistry easier.</p>
		</div>
	</div>
</header>
<!-- END .header -->

<main class="main">
	<div class="inner">
		<form action="" class="form">
			<div class="form__title">Fields marked “*” are required</div>
			<div class="form__field">
				<div class="form__label" for="form-other">Enquiry Type *</div>

				<div class="select-wrapper">
					<select name="" id="form-other" class="js-select">
						<option value="">Other</option>
						<option value="">Other</option>
						<option value="">Other</option>
						<option value="">Other</option>
					</select>
				</div>
			</div>

			<div class="form__field">
				<input type="text" class="input disabled" disabled="true" value="Other">
			</div>

			<div class="form__row">
				<div class="form__field">
					<label class="form__label" for="form-name">Name *</label>
					<input type="text" class="input" id="form-name" placeholder="Dentist">
				</div>

				<div class="form__field">
					<label class="form__label" for="form-email">Email *</label>
					<input type="email" class="input" id="form-email" placeholder="rachelm@gmail.com">
				</div>
			</div>
			<div class="form__field">
				<label class="form__label" for="form-theme">Subject *</label>
				<input type="text" class="input" id="form-theme">
			</div>

			<div class="form__field">
				<label class="form__label" for="form-desc">Description *</label>
				<div class="js-counter counter">(0/1000)</div>
				<textarea name="" id="" cols="30" rows="6" class="textarea"></textarea>
			</div>
		</form>
	</div>
</main>
{% endblock %}
