---
title: template
bodyClasses: preview-wrapper
---
{% extends "layouts/_layout.html" %}

{% block vendorCSS%}
<link rel="stylesheet" href="lib/select2.min.css">
{% endblock %}

{% block content %}

<header class="header header__overlay">
	<div class="inner header__in">
		<div class="header__nav">
			<a href="#" class="logo"></a>

			<a href="#" class="btn btn_green btn_rounded btn_login">Log In Now</a>
		</div>
		<!-- END .header_nav -->


		<div class="header__desc">
			<h2 class="title-lg">Home of Dentistry</h2>
			<p>Denteez was created by dentists for dentistry in order to make the life of everyone involved in dentistry easier.</p>
		</div>
	</div>
</header>
<!-- END .header -->

<main class="main">
	<div class="register">
		<div class="inner">
			<form action="" class="form" id="myform">
				<div class="form-container">
					<div class="form__title">Fields marked “*” are required</div>
					<div class="form__field">
						<div class="form__label" for="form-other">Enquiry Type *</div>

						<div class="select-wrapper">
							<select name="" id="form-other" class="js-select">
								<option value="">Other</option>
								<option value="">Other</option>
								<option value="">Other</option>
								<option value="">Other</option>
							</select>
						</div>
					</div>

					<div class="form__field">
						<input type="text" class="input" value="Other">
					</div>

					<div class="form__row">
						<div class="form__field">
							<label class="form__label" for="form-name">Name *</label>
							<input type="text" class="input" id="form-name" placeholder="Dentist" required="required">
						</div>

						<div class="form__field">
							<label class="form__label" for="form-email">Email *</label>
							<input type="email" class="input" id="form-email" placeholder="rachelm@gmail.com" required="required">
						</div>
					</div>

					<div class="form__field">
						<label class="form__label" for="form-theme">Subject *</label>
						<input type="text" class="input" id="form-theme" required="required">
					</div>

					<div class="form__field">
						<label class="form__label" for="form-desc">Description *</label>
						<div class="counter">(<span class="js-counter">0</span>/1000)</div>
						<textarea name="" id="description" maxlength="1000" cols="30" rows="6" class="textarea" required="required"></textarea>
					</div>

					<label class="input-file js-input-file">
						<input type="file" class="js-input-file-field">

						<span class="input-file__btn"></span>
						<span class="input-file__content">
							<span class="add">Add photo</span>
							<small>Minimum size of 300x300 jpeg ipg png 5 MB</small>
							<small class="is-hidden">The photo does not meet the requirements</small>
						</span>
					</label>
				</div>
				<!-- END .form-container -->

				<button class="btn btn_rounded btn_green form__btn" type="submit">Submit</button>
			</form>
			<!-- END .form -->
		</div>
	</div>
	<!-- END .register -->

	<div class="about">
		<div class="inner">
			<h2 class="title-lg about__title">About Denteez</h2>

			<div class="grid grid-normal-spacing">
				<div class="grid-2-col">
					<div class="grid__item">
						<p>Why is it always so difficult to find what you are looking for in dentistry? Whether it is the latest advancement in technology or techniques or simply a review or understanding of the vast amount of products? Perhaps finding someone to just fix your broken equipment or simply hiring new staff or looking for that new job?</p>
					</div>
					<div class="grid__item">
						<p>Our mission is to give every dental professional the possibility to discuss and share all aspects of their profession, their practice and their business. We aim to make the world of dentistry easy and accessible, so every dental professional can find what they are looking for quickly and easily all in one place.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END .about -->
</main>

<footer class="footer">
	<div class="inner">
		<div class="copyright">Denteez Copyright 2015</div>

		<ul class="footer__list">
			<li><a href="#">Support</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Terms of use</a></li>
		</ul>
	</div>
</footer>
{% endblock %}
