---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<main class="main">
	<div class="inner">
		<aside class="sidebar sidebar__left">
			<ul class="menu">
				<li class="menu__item">
					<a href="#" class="menu__link"><span class="icon-box">{{mixins.icon('home')}}</span>Feed</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link"><span class="icon-box">{{mixins.icon('ask')}}</span>Ask a Colleague</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link"><span class="icon-box">{{mixins.icon('company')}}</span>Companies</a>
				</li>
				<li class="menu__item">
					<a href="#" class="menu__link"><span class="icon-box">{{mixins.icon('services')}}</span>Service Directory</a>
				</li>
			</ul>
		</aside>
		<!-- END .sidebar__left -->

		<aside class="sidebar sidebar__right">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit sed, laborum dolor in. Nostrum ipsam, iure ducimus dignissimos ex voluptatum. Enim nobis, vel quaerat doloribus repellendus. Corrupti tenetur quis neque!</p>
		</aside>
		<!-- END .sidebar__right -->

		<section class="content">
			<div class="features">
				<h2 class="title-xl">Service Directory</h2>
				<a href="#" class="btn btn-green btn-rounded">Add New Service</a>
			</div>

			<ul class="list list-service">
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-00"></i></span>
						<div class="list-service__caption">Accountancy</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-01"></i></span>
						<div class="list-service__caption">Associations</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-02"></i></span>
						<div class="list-service__caption">Buy/Sell Dental <br> Practice</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-03"></i></span>
						<div class="list-service__caption">Clinical Waste <br> Collection</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-04"></i></span>
						<div class="list-service__caption">Computer Service</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-05"></i></span>
						<div class="list-service__caption">CPR/Basic Life <br> Support Training</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-06"></i></span>
						<div class="list-service__caption">Dental Recruitment</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-07"></i></span>
						<div class="list-service__caption">Dental Software</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-08"></i></span>
						<div class="list-service__caption">Electrical Safety <br> And Testing</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-09"></i></span>
						<div class="list-service__caption">Marketing</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-10"></i></span>
						<div class="list-service__caption">Others</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-11"></i></span>
						<div class="list-service__caption">Repairs</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-00"></i></span>
						<div class="list-service__caption">Solicitors</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-01"></i></span>
						<div class="list-service__caption">Surgery Design</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-02"></i></span>
						<div class="list-service__caption">Training &amp; Courses</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-03"></i></span>
						<div class="list-service__caption">Web Designers</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-04"></i></span>
						<div class="list-service__caption">Cleaning Agencies</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-05"></i></span>
						<div class="list-service__caption">Dental Chair <br> Recovery</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-06"></i></span>
						<div class="list-service__caption">Equipment <br> Engineering</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-07"></i></span>
						<div class="list-service__caption">Selling Gold</div>
					</a>
				</li>
				<li class="list-service__item">
					<a href="#" class="list-service__container">
						<span class="list-service__icon"><i class="icon-list-08"></i></span>
						<div class="list-service__caption">Uniform &amp; Workwear</div>
					</a>
				</li>
			</ul>
			<!-- END .list-service -->
		</section>
		<!-- END .content -->
	</div>

</main>

{% endblock %}


