$white:					#fff
$black:					#000

$main: 					#162332
$green: 				#87b448

$blue-darker: 			#1c2534
$blue-gray: 				#7c8695
$gray-lighter: 			#d3d3d3
$gray-link: 				#59606b
$border-lighter: 		$gray-lighter


$text-exs: 		11px
$text-xs: 		12px
$text-sm: 		13.61px
$text-reg: 		16px
$text-lead: 		36px

