<header class="header">
	<div class="inner">
		<a href="page.html" class="logo" title="Home"></a>

		<div class="search">
			<input type="text" class="search__input" placeholder="Company Name">
			{{mixins.icon('search', 'search__icon')}}
		</div>

		<div class="header__bar">
			<a href="#" class="header__bar-link">{{mixins.icon('chat')}}</a>
			<a href="#" class="header__bar-link">{{mixins.icon('notify')}}</a>
		</div>

		<a href="#" class="header__user">
			<div class="header__user-ava" style="background-image: url('img/ava.png');"></div>
			<div class="header__user-name">Maximillian Beekeeper</div>
		</a>
	</div>
</header>
<!-- END .header -->