.icon-basket
 width: 72px
 height: 73px
 background-image: url('../img/sprite.png')
 background-position: -169px -84px

.icon-calc
 width: 69px
 height: 69px
 background-image: url('../img/sprite.png')
 background-position: -160px -250px

.icon-chair
 width: 72px
 height: 73px
 background-image: url('../img/sprite.png')
 background-position: -251px 0px

.icon-cleaning
 width: 74px
 height: 75px
 background-image: url('../img/sprite.png')
 background-position: -85px 0px

.icon-computer
 width: 72px
 height: 72px
 background-image: url('../img/sprite.png')
 background-position: -83px -168px

.icon-crest
 width: 75px
 height: 75px
 background-image: url('../img/sprite.png')
 background-position: 0px 0px

.icon-dollar
 width: 73px
 height: 73px
 background-image: url('../img/sprite.png')
 background-position: 0px -85px

.icon-equip
 width: 72px
 height: 72px
 background-image: url('../img/sprite.png')
 background-position: -251px -165px

.icon-goldbar
 width: 69px
 height: 66px
 background-image: url('../img/sprite.png')
 background-position: -239px -250px

.icon-hammer
 width: 65px
 height: 70px
 background-image: url('../img/sprite.png')
 background-position: -333px -238px

.icon-homeedit
 width: 73px
 height: 71px
 background-image: url('../img/sprite.png')
 background-position: -165px -168px

.icon-lifebuoy
 width: 73px
 height: 72px
 background-image: url('../img/sprite.png')
 background-position: -83px -85px

.icon-lupe
 width: 71px
 height: 69px
 background-image: url('../img/sprite.png')
 background-position: 0px -250px

.icon-marketing
 width: 68px
 height: 71px
 background-image: url('../img/sprite.png')
 background-position: -333px 0px

.icon-repair
 width: 68px
 height: 69px
 background-image: url('../img/sprite.png')
 background-position: -333px -81px

.icon-shield
 width: 73px
 height: 72px
 background-image: url('../img/sprite.png')
 background-position: 0px -168px

.icon-software
 width: 72px
 height: 72px
 background-image: url('../img/sprite.png')
 background-position: -251px -83px

.icon-training
 width: 67px
 height: 68px
 background-image: url('../img/sprite.png')
 background-position: -333px -160px

.icon-uniform
 width: 58px
 height: 71px
 background-image: url('../img/sprite.png')
 background-position: 0px -329px

.icon-userplus
 width: 72px
 height: 74px
 background-image: url('../img/sprite.png')
 background-position: -169px 0px

.icon-webtag
 width: 69px
 height: 69px
 background-image: url('../img/sprite.png')
 background-position: -81px -250px