.icon-arrow-down
	width: 47px
	height: 121px
	background-image: url('../img/sprite.png')
	background-position: -306px 0px

.icon-facebook
	width: 10px
	height: 19px
	background-image: url('../img/sprite.png')
	background-position: -234px -102px

.icon-feat-00
	width: 92px
	height: 92px
	background-image: url('../img/sprite.png')
	background-position: 0px 0px

.icon-feat-01
	width: 92px
	height: 92px
	background-image: url('../img/sprite.png')
	background-position: -102px 0px

.icon-feat-02
	width: 92px
	height: 92px
	background-image: url('../img/sprite.png')
	background-position: 0px -102px

.icon-feat-03
	width: 92px
	height: 92px
	background-image: url('../img/sprite.png')
	background-position: -102px -102px

.icon-feat-04
	width: 92px
	height: 92px
	background-image: url('../img/sprite.png')
	background-position: -204px 0px

.icon-novaposhta
	width: 35px
	height: 35px
	background-image: url('../img/sprite.png')
	background-position: -306px -131px