// list
.list
	&-features
		li
			display: block
			margin-bottom: 95px
		li:last-child
			margin-bottom: 0
		li i
			display: block
			margin: 0 0 35px
		li h3
			color: #182637
			font-size: 26px
			+font-family($gotham-reg)
			letter-spacing: 0.050rem
		li p
			+font-family($gotham-light)
			color: $gray-darker
			font-size: $text-sm //14px
			line-height: 2.13
