$icons: (0:0)
$icons: map-merge($icons,('basket': (X: -169px, Y:-84px, W: 72px, H: 73px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('calc': (X: -160px, Y:-250px, W: 69px, H: 69px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('chair': (X: -251px, Y:0px, W: 72px, H: 73px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('cleaning': (X: -85px, Y:0px, W: 74px, H: 75px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('computer': (X: -83px, Y:-168px, W: 72px, H: 72px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('crest': (X: 0px, Y:0px, W: 75px, H: 75px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('dollar': (X: 0px, Y:-85px, W: 73px, H: 73px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('equip': (X: -251px, Y:-165px, W: 72px, H: 72px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook': (X: -98px, Y:-329px, W: 10px, H: 19px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('facebook@2x': (X: -68px, Y:-329px, W: 20px, H: 38px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('goldbar': (X: -239px, Y:-250px, W: 69px, H: 66px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('hammer': (X: -333px, Y:-238px, W: 65px, H: 70px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('homeedit': (X: -165px, Y:-168px, W: 73px, H: 71px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('lifebuoy': (X: -83px, Y:-85px, W: 73px, H: 72px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('lupe': (X: 0px, Y:-250px, W: 71px, H: 69px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('marketing': (X: -333px, Y:0px, W: 68px, H: 71px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('repair': (X: -333px, Y:-81px, W: 68px, H: 69px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('shield': (X: 0px, Y:-168px, W: 73px, H: 72px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('software': (X: -251px, Y:-83px, W: 72px, H: 72px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('training': (X: -333px, Y:-160px, W: 67px, H: 68px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('uniform': (X: 0px, Y:-329px, W: 58px, H: 71px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('userplus': (X: -169px, Y:0px, W: 72px, H: 74px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('webtag': (X: -81px, Y:-250px, W: 69px, H: 69px, TW: 401px, TH: 400px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)

//
//.icon-basket
//  width: 72px
//  height: 73px
//  background-image: url('../img/sprite.png')
//  background-position: -169px -84px
//
//.icon-calc
//  width: 69px
//  height: 69px
//  background-image: url('../img/sprite.png')
//  background-position: -160px -250px
//
//.icon-chair
//  width: 72px
//  height: 73px
//  background-image: url('../img/sprite.png')
//  background-position: -251px 0px
//
//.icon-cleaning
//  width: 74px
//  height: 75px
//  background-image: url('../img/sprite.png')
//  background-position: -85px 0px
//
//.icon-computer
//  width: 72px
//  height: 72px
//  background-image: url('../img/sprite.png')
//  background-position: -83px -168px
//
//.icon-crest
//  width: 75px
//  height: 75px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-dollar
//  width: 73px
//  height: 73px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -85px
//
//.icon-equip
//  width: 72px
//  height: 72px
//  background-image: url('../img/sprite.png')
//  background-position: -251px -165px
//
//.icon-facebook
//  width: 10px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -98px -329px
//
//.icon-facebook@2x
//  width: 20px
//  height: 38px
//  background-image: url('../img/sprite.png')
//  background-position: -68px -329px
//
//.icon-goldbar
//  width: 69px
//  height: 66px
//  background-image: url('../img/sprite.png')
//  background-position: -239px -250px
//
//.icon-hammer
//  width: 65px
//  height: 70px
//  background-image: url('../img/sprite.png')
//  background-position: -333px -238px
//
//.icon-homeedit
//  width: 73px
//  height: 71px
//  background-image: url('../img/sprite.png')
//  background-position: -165px -168px
//
//.icon-lifebuoy
//  width: 73px
//  height: 72px
//  background-image: url('../img/sprite.png')
//  background-position: -83px -85px
//
//.icon-lupe
//  width: 71px
//  height: 69px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -250px
//
//.icon-marketing
//  width: 68px
//  height: 71px
//  background-image: url('../img/sprite.png')
//  background-position: -333px 0px
//
//.icon-repair
//  width: 68px
//  height: 69px
//  background-image: url('../img/sprite.png')
//  background-position: -333px -81px
//
//.icon-shield
//  width: 73px
//  height: 72px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -168px
//
//.icon-software
//  width: 72px
//  height: 72px
//  background-image: url('../img/sprite.png')
//  background-position: -251px -83px
//
//.icon-training
//  width: 67px
//  height: 68px
//  background-image: url('../img/sprite.png')
//  background-position: -333px -160px
//
//.icon-uniform
//  width: 58px
//  height: 71px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -329px
//
//.icon-userplus
//  width: 72px
//  height: 74px
//  background-image: url('../img/sprite.png')
//  background-position: -169px 0px
//
//.icon-webtag
//  width: 69px
//  height: 69px
//  background-image: url('../img/sprite.png')
//  background-position: -81px -250px
//