.icon-ask {
  width: 1.02em;
  height: 1em;
  fill: #c7cdd9;
}
.icon-chat {
  width: 1.18em;
  height: 1em;
  fill: #fff;
}
.icon-company {
  width: 0.88em;
  height: 1em;
  fill: #c7cdd9;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-home {
  width: 1.04em;
  height: 1em;
  fill: #c7cdd9;
}
.icon-notify {
  width: 1em;
  height: 1em;
  fill: #fff;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #8ebc4d;
}
.icon-services {
  width: 0.79em;
  height: 1em;
  fill: #c7cdd9;
}
