.btn
	cursor: pointer
	color: $white
	text-decoration: none
	font-size: $text-sm
	padding: 8px 20px
	line-height: 1
	background-color: rgba($black, .61)
	transition: background-color .24s ease-in-out, color .24s ease-in-out
	position: relative
	&:active
		top: 1px
	&-green
		background-color: $green
	&-rounded
		border-radius: 4px
