.footer
	background-color: $white
	padding: 55px 0
	+r(640)
		text-align: center
		padding: 59px 0 48px 0
	+r(481)
		padding: 30px 0
	.inner
		padding: 0
		+r(1266)
			padding: 0 25px
		+r(640)
			padding: 0 55px
		+r(481)
			padding: 0 10px
		&__in
			padding: 0
			+r(1366)
				padding: 0 25px

	&__logo
		float: right
		+r(640)
			margin-top: 45px
		+r(321)
			float: none
		.icon-logo-meduzabrush
			fill: $main
	&__info
		display: inline-block
		vertical-align: top
		margin-right: 65px
		+sm //767
			margin-right: 30px
		+r(667)
			margin-right: 15px
		+r(640)
			margin-right: 0
			display: block
			margin-bottom: 44px
			&:last-child
				margin-bottom: 0
		p
			color: $gray-darker
			+font-family($gotham-light)
			font-size: 14px
			line-height: 2.13
			a
				text-decoration: none
				color: $gray-darker
		a
			strong
				+font-family($gotham-md)
		&-wrapper
			+clr
			display: inline-block
			+r(640)
				float: left
				text-align: left
			+r(321)
				text-align: center
				float: none
