.header
	background-color: $green
	padding: 11px 0 15px 0
	font-size: 0
	border-bottom: 2px solid $green-darker
	&__search
		display: inline-block
		max-width: 435px
		vertical-align: middle
		width: 100%
		position: relative
		padding: 9px 10px
		background-color: $green-dark
		border-radius: 3px
		font-size: 0
		margin-left: 30px
		.input
			background-color: transparent
			outline: none
			padding-left: 28px
			color: $white
			font-size: 15px
			&:focus
				color: $white
		.icon-centered
			position: absolute
			top: 9px
			left: 10px
			width: 16px
			height: 16px
			svg
				fill: $green
				width: 100%
				height: 100%
	&__bar
		display: inline-block
		vertical-align: middle
		font-size: 0
		padding: 0 20px
		&-link
			display: inline-block
			vertical-align: top
			text-decoration: none
			padding: 0 10px
		&-icon
			width: 25px
			height: 25px
			display: inline-block
			fill: $white
			svg
				width: 100%
				height: 100%
	&__user
		display: inline-block
		vertical-align: middle
		&-ava
			display: inline-block
			vertical-align: middle
			position: relative
			overflow: hidden
			border-radius: 3px
			margin-right: 11px
			margin-left: 3px
			width: 32px
			height: 32px
		&-ava img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
		&-name
			display: inline-block
			vertical-align: middle
			font-size: $text-reg //16px
			line-height: 2.265
			color: #fefefe
			text-decoration: none
			transition: color .24s ease-in-out
			&:hover
				color: $white
