.header
	position: absolute
	width: 100%
	z-index: 10
	top: 0
	left: 0
	transition: background-color .32s linear
	&__in
		font-size: 0
		+clr
		position: relative
		padding: 30px 25px 30px 200px
		+md
			padding: 30px 30px 30px 200px
	&__panel
		display: inline-block
		vertical-align: top
		width: 100%
	.logo
		position: absolute
		top: 15px
		left: 22px
		z-index: 3
	&-shape
		display: block
		position: absolute
		bottom: -10px
		transform: skewY(-11.5deg) translateY(50%)
		right: 0
		width: 100%
		padding-bottom: 19.20%
		background-color: $white
		+md
			display: none
	&__nav
		transition: transform .61s ease-in-out
		float: right
		+md
			position: absolute
			top: 0
			left: 0
			width: 100%
			padding: 100px 0 45px
			overflow-y: auto
			max-height: 100vh
			background-color: $white
			transform: translateY(-100%)
