.header
	background-color: $green
	padding: 11px 0 15px 0
	font-size: 0
	border-bottom: 2px solid $green-darker
	&__bar
		display: inline-block
		vertical-align: middle
		font-size: 0
		padding: 0 20px
		&-link
			display: inline-block
			vertical-align: top
			text-decoration: none
			padding: 0 10px
			display: inline-block
			font-size: 24px
			fill: $white
			svg
				font-size: inherit
				display: inline-block
				vertical-align: middle
	&__user
		display: inline-block
		vertical-align: middle
		&-ava
			display: inline-block
			vertical-align: middle
			position: relative
			overflow: hidden
			border-radius: 3px
			margin-right: 11px
			margin-left: 3px
			+cover
			width: 32px
			height: 32px
		&-ava img
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
		&-name
			display: inline-block
			vertical-align: middle
			font-size: $text-reg //16px
			line-height: 2.265
			color: #fefefe
			text-decoration: none
			transition: color .24s ease-in-out
			&:hover
				color: $white

.search
	display: inline-block
	max-width: 435px
	vertical-align: middle
	width: 100%
	position: relative
	font-size: 0
	margin-left: 30px
	&__input
		border-radius: 3px
		background-color: transparent
		outline: none
		padding: 9px 9px 9px 38px
		background-color: $green-dark
		color: $white
		+placeholder-color($white)
		width: 100%
		font-size: 15px
		&:focus
			color: $white
			+ .search__icon
				opacity: .5
	&__icon
		position: absolute
		top: 9px
		left: 10px
		display: block
		width: 16px
		height: 16px
		transition: opacity .24s ease-in-out
		fill: $green


// Logo
.logo
	float: left
	font-size: 0
	width: 130px
	height: 40px
	display: inline-block
	background-image: url(../img/logo.png)
	+retina
		background-image: url(../img/logo@2x.png)
