.menu
	font-size: 0
	text-align: left
	&__item
		display: block
	&__link
		text-decoration: none
		+font-family($proxima-reg)
		font-size: $text-reg //16px
		color: $gray-link
		padding: 15px 0 15px 50px
		display: block
		line-height: 1.2
		position: relative
		transition: color .24s ease-in-out
		border-bottom: 1px solid $separator
		&:hover
			color: darken($gray-link, 20)
			.menu__icon svg
				fill: darken($gray-icon, 20)
	&__icon
		vertical-align: middle
		display: inline-block
		position: absolute
		top: 12px
		left: 4px
		svg
			transition: fill .24s ease-in-out
			fill: $gray-icon
			font-size: 24px
			display: inline-block
			vertical-align: middle

