.menu
	font-size: 0
	&__header
		li:not(:first-child)
			+md
				display: block
				margin-right: 0
				margin-top: 43px
		li:not(:last-child)
			margin-right: 44px
			+md
				margin-right: 0
	li
		display: inline-block
		vertical-align: top
	a
		text-decoration: none
		display: inline-block
		vertical-align: middle
		position: relative
		color: inherit
		padding-bottom: 15px
		+md
			padding-bottom: 0
		&:hover:after
			opacity: 1
			width: 100%
		&:after
			content: ""
			display: block
			position: absolute
			top: 100%
			left: 50%
			opacity: 0
			transform: translateX(-50%)
			-webkit-transform: translateX(-50%)
			width: 0
			height: 1px
			transition: all .24s ease-in-out
			background-color: rgba($coffee, .30)
			-webkit-transition: all .24s ease-in-out
	&__lang
		margin-left: 94px
		+md
			margin-left: 0
			margin-top: 43px
		li
			+md
				display: inline-block
			&:not(:last-child)
				margin-right: 17px
	&__lang,
	&__header
		+font-family($proxima-reg)
		font-weight: normal
		font-size: $text-xs
		letter-spacing: 0.1em
		display: inline-block
		color: $white
		vertical-align: top
		text-transform: uppercase
		+md
			color: $link
			font-size: 20px
			text-align: center
			display: block
		li.is-current
			+font-family($proxima-bld)
			a:after
				display: block
				background-color: $coffee
				opacity: 1
				width: 100%
				+md
					display: none